name: Android CI/CD

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: gradle

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew

    - name: Create local.properties
      run: |
        echo "TMDB_API_KEY=${{ secrets.TMDB_API_KEY }}" > local.properties

    - name: Build with Gradle
      run: ./gradlew assembleDebug

    - name: Run Unit Tests
      run: ./gradlew testDebugUnitTest

    - name: Run Lint
      run: ./gradlew lintDebug

    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: iflix-debug-apk
        path: app/build/outputs/apk/debug/app-debug.apk
